.aboutme {
  align-items: center;
  background-color: var(--black-rock);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 2666px;
  width: 1440px;
}

.aboutme .flex-col {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 27px;
  min-height: 263px;
  width: 1440px;
}

.aboutme .overlap-group {
  align-items: center;
  background-image: url(../img/vector2.svg);
  background-size: 100% 100%;
  display: flex;
  height: 155px;
  min-width: 1440px;
  padding: 9px 39px;
}

.aboutme .shanzielogo {
  align-self: flex-start;
  height: 123px;
  object-fit: cover;
  width: 388px;
}

.aboutme .overlap-group3 {
  height: 16px;
  margin-bottom: 33.0px;
  margin-left: 60px;
  position: relative;
  width: 260px;
}

.aboutme .title {
  letter-spacing: 0;
  line-height: normal;
  margin-right: 1.0px;
  min-height: 81px;
  min-width: 917px;
}

.aboutme .flex-row {
  align-items: flex-start;
  display: flex;
  gap: 35px;
  height: 392px;
  margin-right: 48.0px;
  margin-top: 68px;
  min-width: 1270px;
}

.aboutme .meet-blade-a-passio {
  letter-spacing: 0;
  line-height: normal;
  min-height: 360px;
  min-width: 767px;
}

.aboutme .flex-col-1 {
  align-items: flex-end;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 1px;
  min-height: 391px;
  width: 468px;
}

.aboutme .x1929191_1027787141635_6315814_n-1 {
  height: 350px;
  object-fit: cover;
  width: 468px;
}

.aboutme .thailand-2009 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 40px;
  min-width: 218px;
}

.aboutme .flex-row-1 {
  gap: 43px;
  margin-left: 28.0px;
  margin-top: 113px;
  min-width: 1322px;
}

.aboutme .great-wall-of-china-container {
  height: 541px;
  position: relative;
  width: 487px;
}

.aboutme .great-wall-of-china-2014 {
  left: 124px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 501px;
}

.aboutme .great-wall-of-china-1 {
  height: 502px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 487px;
}

.aboutme .after-graduating-hig {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 65.0px;
  min-height: 320px;
  min-width: 792px;
}

.aboutme .flex-row-2 {
  gap: 39px;
  margin-right: 4.0px;
  margin-top: 101px;
  min-width: 1354px;
}

.aboutme .as-blade-travelled {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 40.0px;
  min-height: 320px;
  min-width: 676px;
}

.aboutme .overlap-group2 {
  height: 498px;
  position: relative;
  width: 639px;
}

.aboutme .world-of-warcraft-classic-2019 {
  left: 193px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 458px;
}

.aboutme .wowrag-1 {
  height: 459px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 639px;
}

.aboutme .today-blade-is-curre {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: normal;
  margin-right: 27px;
  margin-top: 223px;
  min-height: 320px;
  min-width: 809px;
}

.aboutme .flex-row-3 {
  align-items: center;
  display: flex;
}


/* Style for the navigation bar */
.navbar {
  position: absolute;
  top: 25px;
  right: 0;
  font-size: 18px;
  padding: 10px;
}

/* Style for the navigation links */
.navbar1 {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Style for the active link */
.active {
  background-color: #4CAF50;
}

/* Style for the hover effect on links */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}