.index {
  align-items: flex-start;
  background-color: var(--black-rock);
  border: 1px none;
  display: flex;
  gap: 2px;
}

.desktop {
  display: block;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 600px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }
}

.index .flex-col {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 125px;
  min-height: 996px;
  width: 918px;
}

.index .overlap-group2 {
  height: 788px;
  position: relative;
  width: 918px;
}

.index .overlap-group {
  height: 788px;
  left: 0;
  position: absolute;
  top: 0;
  width: 820px;
}

.topleftcontainer {
  position: relative;
  width: 788px;
  height: 619px;
}

.index .vector1 {
  position: absolute;
  left: 0;
  top: 0;
}

.index .place {
  left: 619px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 47px;
  width: 90px;
}

.index .title {
  left: 95px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 314px;
}

.index .textbox {
  left: 99px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 442px;
}

.index .about-me {
  left: 769px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 47px;
  width: 149px;
}

.index .flex-row {
  align-items: flex-start;
  display: flex;
  gap: 133px;
  margin-right: 152.0px;
  min-width: 316px;
}

.index .github-mark-white-1 {
  height: 83px;
  object-fit: cover;
  width: 85px;
}

.index .li-in-bug-1 {
  height: 83px;
  object-fit: cover;
  width: 98px;
}

.index .flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 47px;
  min-height: 969px;
  width: 502px;
}

.index .overlap-group1 {
  height: 649px;
  margin-top: 102px;
  position: relative;
  width: 433px;
}

.index .cyberdog {
  height: 640px;
  left: 3px;
  object-fit: cover;
  position: absolute;
  top: 7px;
  width: 423px;
}

.index .rectangle-2 {
  border: 20px solid;
  border-color: var(--black-rock);
  filter: blur(5px);
  ;
  height: 649px;
  left: 0;
  position: absolute;
  top: 0;
  width: 433px;
}

.index .shanzielogo {
  height: 123px;
  margin-left: 20px;
  margin-top: 79px;
  object-fit: cover;
  width: 388px;
}

.index .navbar {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  height: 16px;
  min-width: 444px;
}


/* Style for the navigation bar */
.navbar {
  position: fixed;
  top: 0;
  right: 0;
  font-size: 18px;
  padding: 10px;
}

/* Style for the navigation bar */
.navbar {
  position: absolute;
  top: 25px;
  right: 0;
  font-size: 18px;
  padding: 10px;
}

/* Style for the navigation links */
.navbar1 {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Style for the active link */
.active {
  background-color: #4CAF50;
}

/* Style for the hover effect on links */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}